/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */


/* Конкретное начертание 400 */
@font-face {
    font-family: 'Inter';
    src:
        local('Inter'),
        url('/fonts/Inter-Variable.woff2') format('woff2 supports variations'),
        url('/fonts/Inter-Variable.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 400; /* Конкретное начертание */
    font-style: normal;
}

/* Конкретное начертание 785 */
@font-face {
    font-family: 'Inter';
    src:
        local('Inter'),
        url('/fonts/Inter-Variable.woff2') format('woff2 supports variations'),
        url('/fonts/Inter-Variable.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 785; /* Конкретное начертание */
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:
        local('Inter'),
        url('/fonts/Inter-Variable.woff2') format('woff2 supports variations'),
        url('/fonts/Inter-Variable.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 400 900; /* Общий диапазон */
    font-style: normal;
}

/* Подключение шрифта PressStart2P */
@font-face {
    font-family: 'PressStart2P';
    src: url('/fonts/PressStart2P-Regular.woff') format('woff');
    font-weight: 400 900;
    font-style: normal;
}
