/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/* Переменные для шрифтов */
/* Переменные для паттернов фона */
/* В этом файле будут храниться все значения переменных в исходном состоянии */

/* В этом файле будут храниться все значения переменных в исходном состоянии */

/* Переменные для шрифтов */
:root {
    --main-font: 'Inter', sans-serif; /* Основной шрифт */
    --accent-font: 'PressStart2P', monospace; /* Акцентный шрифт */
    --text-font-weight: 400; /* Толщина основного текста */
    --heading-font-weight: 785; /* Толщина заголовков */
    --background-color: #ffffff; /* Фон по умолчанию (светлая тема) */
    --accent-color: #000000; /* Цвет текста по умолчанию (светлая тема) */
    --pattern-image: url('../svg/pattern-light.svg'); /* Паттерн фона по умолчанию (светлая тема) */
}

/* Темная тема */
:root.theme-dark {
    --background-color: #000000; /* Темный фон */
    --accent-color: #00ff00; /* Зеленый цвет текста */
    --pattern-image: url('../svg/pattern-dark.svg'); /* Паттерн фона для тёмной темы */
    --contour-color: #00ff00; /* Цвет контура в тёмной теме */
    --sparks-color: #000000; /* Цвет искр  */
    --heart-fill-color: var(--contour-color);
}

/* Светлая тема */
:root.theme-light {
    --background-color: #ffffff; /* Светлый фон */
    --accent-color: #000000; /* Чёрный цвет текста */
    --pattern-image: url('../svg/pattern-light.svg'); /* Паттерн фона для светлой темы */
    --contour-color: black; /* Цвет контура в светлой теме */
    --sparks-color: red; /* Цвет искр  */
    --heart-fill-color: var(--contour-color);
}
