/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/* Переменные для шрифтов */
/* Переменные для паттернов фона */
/* В этом файле будут храниться все значения переменных в исходном состоянии */

/* В этом файле будут храниться все значения переменных в исходном состоянии */

/* Переменные для шрифтов */
:root {
    --main-font: 'Inter', sans-serif; /* Основной шрифт */
    --accent-font: 'PressStart2P', monospace; /* Акцентный шрифт */
    --text-font-weight: 400; /* Толщина основного текста */
    --heading-font-weight: 785; /* Толщина заголовков */
    --background-color: #ffffff; /* Фон по умолчанию (светлая тема) */
    --accent-color: #000000; /* Цвет текста по умолчанию (светлая тема) */
}

/* Темная тема */
:root.theme-dark {
    --background-color: #000000; /* Темный фон */
    --accent-color: #00ff00; /* Зеленый цвет текста */
    --contour-color: #00ff00; /* Цвет контура в тёмной теме */
    --sparks-color: #000000; /* Цвет искр  */
    --heart-fill-color: var(--contour-color);
    --label-background: rgba(0, 255, 0, 0.7); /* Зелёный полупрозрачный фон */
    --text-stroke-color: rgba(0, 0, 0, 0.2); /* Чёрная обводка текста */
    --text-color: var(--accent-color); /* Акцентный текст */
    --blend-color: #00ff00; 
    --gradient-stripes-horizontal: repeating-linear-gradient(
        90deg,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
    );
    --gradient-stripes-vertical: repeating-linear-gradient(
        0deg,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
    );
    --gradient-transition: linear-gradient(
        to bottom,
        #007f0c 1%,
        #004306 100%
    );
    --background-gradient: var(--gradient-stripes-horizontal), 
                          var(--gradient-stripes-vertical), 
                          var(--gradient-transition);
}

/* Светлая тема */
:root.theme-light {
    --background-color: #ffffff; /* Светлый фон */
    --accent-color: #000000; /* Чёрный цвет текста */
    --contour-color: black; /* Цвет контура в светлой теме */
    --sparks-color: red; /* Цвет искр  */
    --heart-fill-color: var(--contour-color);
    --label-background: rgba(0, 0, 0, 0.8); /* Чёрный полупрозрачный фон */
    --text-stroke-color: rgba(255, 255, 255, 0.3); /* Белая обводка текста */
    --text-color: #000000; /* Белый текст */
    --blend-color: #000000;

    --gradient-stripes-horizontal: repeating-linear-gradient(
        90deg,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    );
    --gradient-stripes-vertical: repeating-linear-gradient(
        0deg,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    );
    --gradient-transition: linear-gradient(
        to bottom,
        #1a1a1a 1%,
        #1a1a1a 100%
    );
    --background-gradient: var(--gradient-stripes-horizontal), 
                          var(--gradient-stripes-vertical), 
                          var(--gradient-transition);
}

